<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <title>TELEMEAL</title>
    </head>
    <body>
        <div class="container">
            <h2 class="text-center my-4">TELEMEAL</h2>
            <div class="mb-4">
                <div class="input-group">
                    <input type="text" placeholder="Search for a meal" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div th:each="categoria : ${listaCategorias}" class="col-md-4 mb-4">
                    <div class="card">
                        <img th:src="${categoria.strCategoryThumb}" class="card-img-top" th:alt="${categoria.strCategory}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${categoria.strCategory}"></h5>
                            <p class="card-text" th:text="${#strings.abbreviate(categoria.strCategoryDescription, 100)}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <input type="text" placeholder="Buscar categoría" class="form-control mt-3">
        </div>
    </body>
</html>
